In [ ]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.4.1-cp312-cp312-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp312-cp312-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.4.1-cp312-cp312-macosx_14_0_arm64.whl (5.2 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.4.1 pandas-2.3.3 pytz-2025.2 tzdata-2025.3

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [7]:
!pip install numpy

Requirement already satisfied: numpy in ./venv/lib/python3.12/site-packages (2.4.1)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
#Creating Dataframe from a list

lst = ['Max', 'Jhon', 'Sam', 'Anna']

df1 = pd.DataFrame(lst, columns=['Names'])
print(df1)

  Names
0   Max
1  Jhon
2   Sam
3  Anna

In [6]:
import numpy as np

In [9]:
#Creating DataFrame from dict of Numpy Arrays

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
# Creating a DataFrame from a List of Dictionaries 

dict = {'names': ['Sukitha', 'Prabhavi', 'Vidura', 'Mokshana'],
        'ages' : [23, 22, 21, 20],
        'city' : ['Colombo', 'Kandy', 'Galle', 'Jaffna']}
df = pd.DataFrame(dict)
print(df)

      names  ages     city
0   Sukitha    23  Colombo
1  Prabhavi    22    Kandy
2    Vidura    21    Galle
3  Mokshana    20   Jaffna

In [11]:
#Accessing and Modifying the Index

print(df.index)

RangeIndex(start=0, stop=4, step=1)

In [12]:
#Setting a Custom Index
# Set 'Name' column as the index

df_with_index = df.set_index('names')
print(df_with_index)

          ages     city
names
Sukitha     23  Colombo
Prabhavi    22    Kandy
Vidura      21    Galle
Mokshana    20   Jaffna

In [15]:
#Resetting the Index

df_reset = df_with_index.reset_index()
print(df_reset)

      names  ages     city
0   Sukitha    23  Colombo
1  Prabhavi    22    Kandy
2    Vidura    21    Galle
3  Mokshana    20   Jaffna

In [20]:
#Indexing with loc

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)

In [23]:
row = df.loc[1]
print(row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

In [24]:
#Accessing Columns From DataFrame

age_column = df['Age']
print(age_column)

0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64

In [25]:
#Accessing Rows by Index

second_row = df.iloc[1]
print(second_row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

In [26]:
# Accessing Multiple Rows or Columns

subset = df.loc[0:2, ['Name', 'Age']]
print(subset)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [27]:
# Accessing Rows Based on Conditions

filtered_data = df[df['Age']>25]
print(filtered_data)

      Name  Age  Gender  Salary
1    Alice   30  Female   55000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [28]:
#  Accessing Specific Cells with at and iat

salary_at_index_2 =df.at[2, 'Salary']
print(salary_at_index_2)

40000

In [29]:
data = pd.read_csv('/Users/sukitharathnayake/CodeRepo/GeeksForGeeks/DataSets/NBA Data with Pandas.csv', index_col='Name')
print(data.head())

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0

In [30]:
first = data["Age"]
print(first.head())

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
Name: Age, dtype: float64

In [31]:
first = data[["Age", "Height", "Weight"]]
print(first.head(5))

                Age Height  Weight
Name
Avery Bradley  25.0    6-2   180.0
Jae Crowder    25.0    6-6   235.0
John Holland   27.0    6-5   205.0
R.J. Hunter    22.0    6-5   185.0
Jonas Jerebko  29.0   6-10   231.0

In [32]:
row = data.loc["Avery Bradley"]
print(row)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [33]:
row = data.loc[["Avery Bradley", "R.J. Hunter"]]
print(row)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [34]:
selection = data.loc[["Avery Bradley", "R.J. Hunter"], ["Age", "Height", "Weight"]]
print(selection)

                Age Height  Weight
Name
Avery Bradley  25.0    6-2   180.0
R.J. Hunter    22.0    6-5   185.0

In [35]:
all_rows_specific_columns = data.loc[:, ["Team", "Position", "Salary"]]
print(all_rows_specific_columns)

                         Team Position     Salary
Name
Avery Bradley  Boston Celtics       PG  7730337.0
Jae Crowder    Boston Celtics       SF  6796117.0
John Holland   Boston Celtics       SG        NaN
R.J. Hunter    Boston Celtics       SG  1148640.0
Jonas Jerebko  Boston Celtics       PF  5000000.0
...                       ...      ...        ...
Shelvin Mack        Utah Jazz       PG  2433333.0
Raul Neto           Utah Jazz       PG   900000.0
Tibor Pleiss        Utah Jazz        C  2900000.0
Jeff Withey         Utah Jazz        C   947276.0
NaN                       NaN      NaN        NaN

[458 rows x 3 columns]

In [36]:
row = data.iloc[3]
print(row)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [37]:
rows = data.iloc[[3,5,7]]
print(rows)

                        Team  Number Position   Age Height  Weight  \
Name
R.J. Hunter   Boston Celtics    28.0       SG  22.0    6-5   185.0
Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

                    College      Salary
Name
R.J. Hunter   Georgia State   1148640.0
Amir Johnson            NaN  12000000.0
Kelly Olynyk        Gonzaga   2165160.0

In [38]:
selection = data.iloc[[3, 4], [1, 2]]
print(selection)

               Number Position
Name
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF

In [39]:
print(data.tail(5))

                   Team  Number Position   Age Height  Weight College  \
Name
Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
Raul Neto     Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
Jeff Withey   Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
NaN                 NaN     NaN      NaN   NaN    NaN     NaN     NaN

                 Salary
Name
Shelvin Mack  2433333.0
Raul Neto      900000.0
Tibor Pleiss  2900000.0
Jeff Withey    947276.0
NaN                 NaN

In [40]:
value = data.at["Avery Bradley", "Age"]
print(value)

25.0

In [41]:
result = data.query('Age > 25 and College == "Duke"')
print(result)

                                    Team  Number Position   Age Height  \
Name
Lance Thomas             New York Knicks    42.0       SF  28.0    6-8
Elton Brand           Philadelphia 76ers    42.0       PF  37.0    6-9
JJ Redick           Los Angeles Clippers     4.0       SG  31.0    6-4
Mike Dunleavy              Chicago Bulls    34.0       SG  35.0    6-9
Dahntay Jones        Cleveland Cavaliers    30.0       SG  35.0    6-6
Miles Plumlee            Milwaukee Bucks    18.0        C  27.0   6-11
Luol Deng                     Miami Heat     9.0       SF  31.0    6-9
Josh McRoberts                Miami Heat     4.0       PF  29.0   6-10
Kyle Singler       Oklahoma City Thunder     5.0       SF  28.0    6-8
Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5
Mason Plumlee     Portland Trail Blazers    24.0        C  26.0   6-11

                  Weight College      Salary
Name
Lance Thomas       235.0    Duke   1636842.0
Elton Brand        254.0    Duke         NaN
JJ Redick          190.0    Duke   7085000.0
Mike Dunleavy      230.0    Duke   4500000.0
Dahntay Jones      225.0    Duke         NaN
Miles Plumlee      249.0    Duke   2109294.0
Luol Deng          220.0    Duke  10151612.0
Josh McRoberts     240.0    Duke   5543725.0
Kyle Singler       228.0    Duke   4500000.0
Gerald Henderson   215.0    Duke   6000000.0
Mason Plumlee      235.0    Duke   1415520.0

In [42]:
data_copy = data.copy()

In [43]:
print(data_copy.pop("Salary"))

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
                   ...
Shelvin Mack     2433333.0
Raul Neto         900000.0
Tibor Pleiss     2900000.0
Jeff Withey       947276.0
NaN                    NaN
Name: Salary, Length: 458, dtype: float64

In [44]:
data_copy.columns

Index(['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College'], dtype='object')

In [49]:
print(data.xs("Avery Bradley"))

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [50]:
print(data.isin({"Team": ["Boston Celtics", "Los Angeles Lakers"]}))

                Team  Number  Position    Age  Height  Weight  College  Salary
Name
Avery Bradley   True   False     False  False   False   False    False   False
Jae Crowder     True   False     False  False   False   False    False   False
John Holland    True   False     False  False   False   False    False   False
R.J. Hunter     True   False     False  False   False   False    False   False
Jonas Jerebko   True   False     False  False   False   False    False   False
...              ...     ...       ...    ...     ...     ...      ...     ...
Shelvin Mack   False   False     False  False   False   False    False   False
Raul Neto      False   False     False  False   False   False    False   False
Tibor Pleiss   False   False     False  False   False   False    False   False
Jeff Withey    False   False     False  False   False   False    False   False
NaN            False   False     False  False   False   False    False   False

[458 rows x 8 columns]

In [51]:
#Slicing Pandas Dataframe

player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df = pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(df)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000

In [52]:
df1 = df.iloc[0:4]
print(df1)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000

In [54]:
df1 = df.iloc[:,0:2]
print(df1)

            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42

In [55]:
value = df.iloc[2,3]
print(value)

8428000