In [ ]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.4.1-cp312-cp312-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp312-cp312-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.4.1-cp312-cp312-macosx_14_0_arm64.whl (5.2 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.4.1 pandas-2.3.3 pytz-2025.2 tzdata-2025.3

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [7]:
!pip install numpy

Requirement already satisfied: numpy in ./venv/lib/python3.12/site-packages (2.4.1)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
#Creating Dataframe from a list

lst = ['Max', 'Jhon', 'Sam', 'Anna']

df1 = pd.DataFrame(lst, columns=['Names'])
print(df1)

  Names
0   Max
1  Jhon
2   Sam
3  Anna

In [6]:
import numpy as np

In [9]:
#Creating DataFrame from dict of Numpy Arrays

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
# Creating a DataFrame from a List of Dictionaries 

dict = {'names': ['Sukitha', 'Prabhavi', 'Vidura', 'Mokshana'],
        'ages' : [23, 22, 21, 20],
        'city' : ['Colombo', 'Kandy', 'Galle', 'Jaffna']}
df = pd.DataFrame(dict)
print(df)

      names  ages     city
0   Sukitha    23  Colombo
1  Prabhavi    22    Kandy
2    Vidura    21    Galle
3  Mokshana    20   Jaffna

In [11]:
#Accessing and Modifying the Index

print(df.index)

RangeIndex(start=0, stop=4, step=1)

In [12]:
#Setting a Custom Index
# Set 'Name' column as the index

df_with_index = df.set_index('names')
print(df_with_index)

          ages     city
names
Sukitha     23  Colombo
Prabhavi    22    Kandy
Vidura      21    Galle
Mokshana    20   Jaffna

In [15]:
#Resetting the Index

df_reset = df_with_index.reset_index()
print(df_reset)

      names  ages     city
0   Sukitha    23  Colombo
1  Prabhavi    22    Kandy
2    Vidura    21    Galle
3  Mokshana    20   Jaffna

In [20]:
#Indexing with loc

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)

In [23]:
row = df.loc[1]
print(row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

In [24]:
#Accessing Columns From DataFrame

age_column = df['Age']
print(age_column)

0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64

In [25]:
#Accessing Rows by Index

second_row = df.iloc[1]
print(second_row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

In [26]:
# Accessing Multiple Rows or Columns

subset = df.loc[0:2, ['Name', 'Age']]
print(subset)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [27]:
# Accessing Rows Based on Conditions

filtered_data = df[df['Age']>25]
print(filtered_data)

      Name  Age  Gender  Salary
1    Alice   30  Female   55000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [28]:
#  Accessing Specific Cells with at and iat

salary_at_index_2 =df.at[2, 'Salary']
print(salary_at_index_2)

40000